{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "exclude": ["node_modules/**", "src/client/sass/**", "**/__test__/**"],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}