<div class="section">
  <div class="container">
    <h1 class="center">Your fact</h1>
    <p>{{fact.content}}</p>
    <p>Do you want another fact?</p>
    <form action="/home/fact" method="GET">
      <button class="waves-effect waves-light btn-large green darken-2 full-width">We go again!</button>
    </form>
  </div>
</div>