<div class="card green lighten-2">
  <div class="card-content">
    <div class="white black-text section px-2">
      {{#each successMessages}}
        <p>{{this}}</p>
      {{/each}}
    </div>
  </div>
</div>