@forward "../../../node_modules/materialize-css/dist/css/materialize";
@use "mixins";

body{
  background-image: linear-gradient(to bottom right, #00ffc9, #85c9ff);
}

.full-width{
  width: 100%;
}

.section-m{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-l{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.heading-xl {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

.heading-l {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

.heading-m {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

.heading-s {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

.popout-effect{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 300ms;
}

.front-page-logo{
  font-family: "Rubik", serif;
  font-weight: 600;
  font-style: italic;
  color: #c60000;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: -1px;
  text-transform: uppercase;
}