@import "materialize";
@import "mixins";
@import "node_modules/materialize-css/dist/css/materialize.css";

.full-width{
  width: 100%;
}

.section-m{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-l{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.heading-xl {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

.heading-l {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

.heading-m {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

.heading-s {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}