 <div class="section">
    <h1 class="center">Welcome to random fact generator</h1>
    <h2 class="center">Pick a subject from the list below, or click the random button to choose a completely random fact</h2>
    <div class="container">
      <div class="col s10 m6 offset-s1 offset-s3">
        <form class="section" method="GET">
          <div class="row">
            <button class="waves-effect waves-light btn-large red darken-1 full-width" formaction="/home/fact/film" type="submit" value="film">Film</button>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn-large light-blue darken-3 full-width" formaction="/home/fact/music" type="submit" value="music">Music</button>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn-large amber lighten-1 full-width" formaction="/home/fact/history" type="submit" value="history">History</button>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn-large green darken-2 full-width" formaction="/home/fact/science" type="submit" value="science">Science</button>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn-large grey lighten-1 full-width" formaction="/home/fact" type="submit" value="random">Random</button>
          </div>
        </form>
      </div>
    </div>
  </div>