<div class="section container">
  <h1 class="center">Welcome to random fact generator</h1>
  <h2 class="center">Pick a subject from the list below, or click the random button to choose a completely random fact</h2>
  <div class="col s10 m6 offset-s1 offset-s3">
    <div class="row">
      <div class="col s6">
        <a href="/home/fact/film">
          <div class="card">
            <div class="card-image">
              <img alt="Plain red background with movie clapper icon in the centre" src="/client/images/film-icon.png" />
            </div>
            <div class="card-content">
              <span class="card-title black-text">Film</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s6">
        <a href="/home/fact/music">
          <div class="card">
            <div class="card-image">
              <img alt="Plain indigo background with a swirling music stave going along the centre" src="/client/images/music-icon.png" />
            </div>
            <div class="card-content">
              <span class="card-title black-text">Music</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <a href="/home/fact/history">
          <div class="card">
            <div class="card-image">
              <img alt="A plain yellow background with a globe icon in the centre" src="/client/images/history-icon.png" />
            </div>
            <div class="card-content">
              <span class="card-title black-text">History</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s6">
        <a href="/home/fact/science">
          <div class="card">
            <div class="card-image">
              <img alt="Plain green background with a frog lifecycle graphic in the centre" src="/client/images/science-icon.png" />
            </div>
            <div class="card-content">
              <span class="card-title black-text">Science</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s3"></div>
      <div class="col s6">
        <a href="/home/fact">
          <div class="card">
            <div class="card-image">
              <img src="/client/images/random-icon.png" />
            </div>
            <div class="card-content">
              <span class="card-title black-text">Random</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>