<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Random fact generator{{page.title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/client/css/app.css">
    <script src="/client/js/materialize.js"></script>
  </head>
  <body>
    <header>
      {{#if page.isAdmin }}
        <nav>
          <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
              <li><a href="/admin/facts">Facts</a></li>
            </ul>
          </div>
        </nav>
      {{/if}}
    </header>
    {{{body}}}
    <footer class="page-footer"></footer>
  </body>
</html>