<div class="section container">
  <h1>Delete {{fact.frienlyName}}</h1>
  <p>Are you sure you want to delete "{{fact.friendlyName}}"?</p>
  <form class="section row" method="POST" enctype="multipart/form-data">
    <div class="col s6">
      <a class="btn-large radius-1 waves-effect waves-light blue" href="/admin/facts">Cancel</a>
    </div>
    <div class="col s6 right-align">
      <button class="btn-large radius-1 waves-effect waves-light red">Delete</button>
    </div>
  </form>
</div>